{% extends "base.html" %}

{% block title %}错误{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    <h4 class="mb-0">出错了</h4>
                </div>
                <div class="card-body">
                    <p class="lead">{{ error }}</p>
                    <a href="/" class="btn btn-primary">返回首页</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 